.breadcrumb {
    box-sizing: border-box;
    color: #333;
    font-size: 0;
    line-height: 0;
    height: 36px;
    padding: 15px 25px;
    border-bottom: 1px solid #eee;
    background-color: #f8f8f8;
    padding-top: 18px;
}
.breadcrumb a, .breadcrumb span {
    display: inline-block;
    color: #38f;
    font-size: 12px;
}
.breadcrumb a::after {
    content: '/';
    display: inline-block;
    color: #bbb;
    margin: 0 5px;
}
.breadcrumb span {
    color: #333;
}