.comment {
    margin: 7px 0;
}
.comment-btn {
    font-size: 14px;
}
.comment-btn .check-class {
    color: greenyellow;
    margin-right: 5px;
    cursor: pointer;
}
.comment-btn .close-class {
    color: #ddd;
    cursor: pointer;
}
.comment .comment-div {
    display: inline-block;
    margin-right: 10px;
}
.comment-show {
    position: relative
}
.comment-show div {
    display: inline-block;
    /* border: 1px solid red; */
    margin-right: 10px;
    height: 30px;
    line-height: 30px;
    padding: 0px 0 0px 10px;
}
.comment-show .comment-show-name {
    width: 70px;
}
.comment-show .comment-show-content {
    width: 190px;
}
.comment-show .comment-show-priority {
    width: 70px;
}
.comment-show .comment-show-content, .comment-show .comment-show-name, .comment-show .comment-show-priority {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.comment-show-btn {
    position: absolute;
    font-size: 14px;
    right: 0px;
    top: 7px;
}
.comment-show-btn .feed-class {
    color: greenyellow;
    margin-right: 5px;
    cursor: pointer;
}
.comment-show-btn .close-o-class {
    color: #ddd;
    cursor: pointer;
}
.comment-show {
    font-size: 14px;
}
.comment .comment-error {
    color: #f44;
}
.plus-class {
    position: relative;
    bottom: 1px;
}