/* .order-container .filter {
    box-sizing: border-box;
    height: 200px;
    padding: 15px 30px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e5e5e5;
} */
/* .order-container .filter div{
    display: inline-block;
}

.order-container .search-btn {
    margin-left: 20px;
} */

.team-order .team-order-filter {
    box-sizing: border-box;
    padding: 15px 30px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e5e5e5;
}
.team-order .top {
    overflow: hidden;
    margin-bottom: 20px;
}
.team-order .top .top-input {
    width: 200px;
    float: left;
    margin-right: 20px;
}
.team-order .bottom .bottom-input {
    margin-right: 20px;
}